//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = config.baseUrl || './'

doctype html

<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title anime
  meta(name='description', content= 'A new Yeogurt application')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block stylesheets
    link(rel='stylesheet', href= baseUrl + 'styles/main.css')

body
  <!--[if lt IE 9]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
  header.ui-header
    a.ui-logo(href="/")
      img(src="/images/logo.png")
    nav.ui-menu
      .ui-menu__item
        a.ui-menu__link(href="#") АНИМЕ
      .ui-menu__item
        a.ui-menu__link(href="#") ДОРАМЫ
      .ui-menu__item
        a.ui-menu__link(href="#") МАНГА
      .ui-menu__item
        a.ui-menu__link(href="#") ЖАНРЫ
      .ui-menu__item
        a.ui-menu__link(href="#") ГОДА
      .ui-menu__item
        a.ui-menu__link(href="#") ВОЙСЕРЫ
      .ui-menu__item
        a.ui-menu__link(href="#") РАСПИСАНИЕ
    .ui-user-button
      a.ui-user-button__login Вход
      a.ui-user-button__register Регистрация
  
  main.ui-content
    block content
    
  footer.ui-footer

  block scripts
    script(src= baseUrl + 'scripts/main.js')

</html>
