.ui-comment-cart
  display flex
  padding 20px 0

  &__img
    width 48px
    height 48px

  &__header
    display flex

  &__content
    font-family 'FuturaPT-Book'
    font-size 18px
    padding-left 20px
    line-height 30px

  &__name
    color #ff0000
    padding-right 5px
    cursor pointer

  &__time
    color #9a9a9a

.ui-comment-cart-lvl2
  display flex
  padding 15px 0 15px 70px

  &__img
    width 32px
    height 32px

  &__header
    display flex

  &__content
    font-family 'FuturaPT-Book'
    font-size 18px
    padding-left 20px
    line-height 30px

  &__name
    color #ff0000
    padding-right 5px
    cursor pointer

  &__time
    color #9a9a9a
