.ui-film-cart
  width 270px

  &__img
    height 390px

  &__box
    display flex
    flex-direction column
    justify-content center
    align-items center
    text-align center
    background rgba(255, 0, 0, .8)
    height 100%
    width 100%
    transition opacity 0.45s ease-in-out
    opacity 0

    &:hover
        opacity 1

  &__watch
    padding-bottom 48px

  &__download
    padding-bottom 66px

  &__time
    font-family 'FuturaPT-Book'
    font-size 21px
    line-height 30px
    color #fff

  &__title
    display flex
    justify-content space-between
    padding 20px 0

  &__name
    font-family 'FuturaPT-Demi'
    font-size 21px
    color #ff0000

  &__see
    display flex
    align-items center

  &__calculator
    font-family 'FuturaPT-Book'
    font-size 21px
    padding 0 12px
    color #2e2e2e

  &__description
    color #657182
    font-family 'FuturaPT-Book'
    font-size 16px

.ui-film-cart-average
  width 230px

  &__img
    height 332px

  &__title
    display flex
    justify-content space-between
    align-items center
    padding 10px 0

  &__see
    display flex
    align-items center

  &__name
    font-family 'FuturaPT-Demi'
    font-size 18px
    color #ff0000

  &__calculator
    font-family 'FuturaPT-Book'
    font-size 21px
    padding 0 12px
    color #2e2e2e

  &__description
    color #657182
    font-family 'FuturaPT-Book'
    font-size 18px

  &__box
    display flex
    flex-direction column
    justify-content center
    align-items center
    text-align center
    background rgba(255, 0, 0, .8)
    height 100%
    width 100%
    transition opacity 0.45s ease-in-out
    opacity 0

    &:hover
        opacity 1

  &__watch
    padding-bottom 30px

  &__download
    padding-bottom 30px

  &__time
    font-family 'FuturaPT-Book'
    font-size 21px
    line-height 30px
    color #fff

.ui-film-cart-small
  width 190px
  padding-top 20px

  &__link
    cursor pointer
