.ui-news-cart
  display flex
  padding-top 30px

  &__content
    padding-left 30px

  &__header
    font-family 'FuturaPT-Book'
    font-size 24px
    color #f80000

  &__description
    font-family 'FuturaPT-Book'
    font-size 18px
    line-height 30px
    color #000

  &__see
    display flex
    font-family 'FuturaPT-Book'
    font-size 18px
    line-height 30px
    color #000

  &__calculator
    padding 0 8px

.ui-news-cart-small
  padding 15px 0

  &__header
    font-family 'FuturaPT-Book'
    font-size 24px
    color #ff0000
    cursor pointer

  &__description
    font-family 'FuturaPT-Book'
    font-size 18px
    line-height 30px

  &__see
    font-family 'FuturaPT-Book'
    font-size 18px
    line-height 30px

    span
      padding-left 7px

.ui-news-cart-recommendations
  width 419px
  height 270px
  background-size cover
  background-repeat no-repeat
  background-position 50% 50%
  margin-bottom 30px

  &__title
    display flex
    align-items flex-end
    height 100%
    background linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%)

    span
      color #fff
      font-family 'FuturaPT-Book'
      font-size 21px
      line-height 27px
      padding 20px 26px
