.ui-news-cart
  display flex
  padding-top 30px

  &__content
    padding-left 30px

  &__header
    font-family 'FuturaPT-Book'
    font-size 24px
    color #f80000

  &__description
    font-family 'FuturaPT-Book'
    font-size 18px
    line-height 30px
    color #000

  &__see
    display flex
    font-family 'FuturaPT-Book'
    font-size 18px
    line-height 30px
    color #000

  &__calculator
    padding 0 8px
