.ui-video-cart
  width 235px

  &__channel
    font-family 'FuturaPT-Book'
    font-size 18px
    color #fff

  &__name
    font-family 'FuturaPT-Demi'
    font-size 21px
    color #fff

  &__link
    cursor pointer
