extends ../_layouts/base

block config
  - var baseUrl = '../'

block content
  .ui-page-search
    search.ui-search
      input.ui-input.ui-search__input(type="text")
      a.ui-button.ui-button__search.ui-button--xs(type="submit") Найти
  .ui-page
    .ui-voicers-page-banner
      img(src="/images/voicers-banner.png") 
    .ui-voicers-page
      .ui-voicers-page__sidebar
        .ui-heading.ui-heading--light Войсеры
        .ui-sidebar
          ul.ui-sidebar-menu 
            li.ui-sidebar-menu__item 
              a.ui-sidebar-menu__link Все войсеры
            li.ui-sidebar-menu__item 
              a.ui-sidebar-menu__link Aronilo
            li.ui-sidebar-menu__item 
              a.ui-sidebar-menu__link Ban
            li.ui-sidebar-menu__item 
              a.ui-sidebar-menu__link Eva
            li.ui-sidebar-menu__item 
              a.ui-sidebar-menu__link Фрейн
            li.ui-sidebar-menu__item 
              a.ui-sidebar-menu__link Gin
            li.ui-sidebar-menu__item 
              a.ui-sidebar-menu__link Greentalker
            li.ui-sidebar-menu__item 
              a.ui-sidebar-menu__link Leoneo
            li.ui-sidebar-menu__item 
              a.ui-sidebar-menu__link Kalifor
            li.ui-sidebar-menu__item 
              a.ui-sidebar-menu__link Namakimon
            li.ui-sidebar-menu__item 
              a.ui-sidebar-menu__link Ron
            li.ui-sidebar-menu__item 
              a.ui-sidebar-menu__link Shachiburi
            li.ui-sidebar-menu__item 
              a.ui-sidebar-menu__link Vielis
      .ui-voicers-page__content
        .ui-catalog__film
          .ui-film-cart-average
            .ui-film-cart-average__img(style="background-image: url('/images/film/catalog1.png')")
              .ui-film-cart-average__box
                a.ui-film-cart-average__watch(href="#")
                  img(src="/images/icon/watch.png")
                a.ui-film-cart-average__download(href="#")
                  img(src="/images/icon/download.png")
                .ui-film-cart-average__time До следующей серии #[br] 6 дней 23:53:10 
            .ui-film-cart-average__title
              .ui-film-cart-average__name Ван пис
              .ui-film-cart-average__see 
                .ui-film-cart-average__calculator 5592
                img(src="/images/icon/see.png")
            .ui-film-cart-average__description Приключения, Комедия, #[br] Фэнтези, Сенен
          .ui-film-cart-average
            .ui-film-cart-average__img(style="background-image: url('/images/film/catalog1.png')")
              .ui-film-cart-average__box
                a.ui-film-cart-average__watch(href="#")
                  img(src="/images/icon/watch.png")
                a.ui-film-cart-average__download(href="#")
                  img(src="/images/icon/download.png")
                .ui-film-cart-average__time До следующей серии #[br] 6 дней 23:53:10 
            .ui-film-cart-average__title
              .ui-film-cart-average__name Ван пис
              .ui-film-cart-average__see 
                .ui-film-cart-average__calculator 5592
                img(src="/images/icon/see.png")
            .ui-film-cart-average__description Приключения, Комедия, #[br] Фэнтези, Сенен
          .ui-film-cart-average
            .ui-film-cart-average__img(style="background-image: url('/images/film/catalog1.png')")
              .ui-film-cart-average__box
                a.ui-film-cart-average__watch(href="#")
                  img(src="/images/icon/watch.png")
                a.ui-film-cart-average__download(href="#")
                  img(src="/images/icon/download.png")
                .ui-film-cart-average__time До следующей серии #[br] 6 дней 23:53:10 
            .ui-film-cart-average__title
              .ui-film-cart-average__name Ван пис
              .ui-film-cart-average__see 
                .ui-film-cart-average__calculator 5592
                img(src="/images/icon/see.png")
            .ui-film-cart-average__description Приключения, Комедия, #[br] Фэнтези, Сенен
        .ui-catalog__film
          .ui-film-cart-average
            .ui-film-cart-average__img(style="background-image: url('/images/film/catalog1.png')")
              .ui-film-cart-average__box
                a.ui-film-cart-average__watch(href="#")
                  img(src="/images/icon/watch.png")
                a.ui-film-cart-average__download(href="#")
                  img(src="/images/icon/download.png")
                .ui-film-cart-average__time До следующей серии #[br] 6 дней 23:53:10 
            .ui-film-cart-average__title
              .ui-film-cart-average__name Ван пис
              .ui-film-cart-average__see 
                .ui-film-cart-average__calculator 5592
                img(src="/images/icon/see.png")
            .ui-film-cart-average__description Приключения, Комедия, #[br] Фэнтези, Сенен
          .ui-film-cart-average
            .ui-film-cart-average__img(style="background-image: url('/images/film/catalog1.png')")
              .ui-film-cart-average__box
                a.ui-film-cart-average__watch(href="#")
                  img(src="/images/icon/watch.png")
                a.ui-film-cart-average__download(href="#")
                  img(src="/images/icon/download.png")
                .ui-film-cart-average__time До следующей серии #[br] 6 дней 23:53:10 
            .ui-film-cart-average__title
              .ui-film-cart-average__name Ван пис
              .ui-film-cart-average__see 
                .ui-film-cart-average__calculator 5592
                img(src="/images/icon/see.png")
            .ui-film-cart-average__description Приключения, Комедия, #[br] Фэнтези, Сенен
          .ui-film-cart-average
            .ui-film-cart-average__img(style="background-image: url('/images/film/catalog1.png')")
              .ui-film-cart-average__box
                a.ui-film-cart-average__watch(href="#")
                  img(src="/images/icon/watch.png")
                a.ui-film-cart-average__download(href="#")
                  img(src="/images/icon/download.png")
                .ui-film-cart-average__time До следующей серии #[br] 6 дней 23:53:10 
            .ui-film-cart-average__title
              .ui-film-cart-average__name Ван пис
              .ui-film-cart-average__see 
                .ui-film-cart-average__calculator 5592
                img(src="/images/icon/see.png")
            .ui-film-cart-average__description Приключения, Комедия, #[br] Фэнтези, Сенен
        .ui-catalog__film
          .ui-film-cart-average
            .ui-film-cart-average__img(style="background-image: url('/images/film/catalog1.png')")
              .ui-film-cart-average__box
                a.ui-film-cart-average__watch(href="#")
                  img(src="/images/icon/watch.png")
                a.ui-film-cart-average__download(href="#")
                  img(src="/images/icon/download.png")
                .ui-film-cart-average__time До следующей серии #[br] 6 дней 23:53:10 
            .ui-film-cart-average__title
              .ui-film-cart-average__name Ван пис
              .ui-film-cart-average__see 
                .ui-film-cart-average__calculator 5592
                img(src="/images/icon/see.png")
            .ui-film-cart-average__description Приключения, Комедия, #[br] Фэнтези, Сенен
          .ui-film-cart-average
            .ui-film-cart-average__img(style="background-image: url('/images/film/catalog1.png')")
              .ui-film-cart-average__box
                a.ui-film-cart-average__watch(href="#")
                  img(src="/images/icon/watch.png")
                a.ui-film-cart-average__download(href="#")
                  img(src="/images/icon/download.png")
                .ui-film-cart-average__time До следующей серии #[br] 6 дней 23:53:10 
            .ui-film-cart-average__title
              .ui-film-cart-average__name Ван пис
              .ui-film-cart-average__see 
                .ui-film-cart-average__calculator 5592
                img(src="/images/icon/see.png")
            .ui-film-cart-average__description Приключения, Комедия, #[br] Фэнтези, Сенен
          .ui-film-cart-average
            .ui-film-cart-average__img(style="background-image: url('/images/film/catalog1.png')")
              .ui-film-cart-average__box
                a.ui-film-cart-average__watch(href="#")
                  img(src="/images/icon/watch.png")
                a.ui-film-cart-average__download(href="#")
                  img(src="/images/icon/download.png")
                .ui-film-cart-average__time До следующей серии #[br] 6 дней 23:53:10 
            .ui-film-cart-average__title
              .ui-film-cart-average__name Ван пис
              .ui-film-cart-average__see 
                .ui-film-cart-average__calculator 5592
                img(src="/images/icon/see.png")
            .ui-film-cart-average__description Приключения, Комедия, #[br] Фэнтези, Сенен


      
