// Normalize Styles
@import '../../node_modules/normalize.css/normalize.css';

// Import Modules
@import 'modules/fonts';

// Box sizing partial styles
// Apply a natural box layout model to all elements
*,
*:before,
*:after
  box-sizing border-box
  outline 1px dashed green

.ui-header
  background #2a2b32
  display flex
  justify-content center

  &__content
    display flex
    align-items center
    padding-top 10px
    width 980px
    justify-content space-between
    padding 0 10px

.ui-logo
  display flex
  align-items flex-end

.ui-menu
  display flex
  justify-content space-between

  &__link
    font-family 'FuturaPT-Heavy'
    font-size 14px
    color #fff
    text-decoration none
    padding 0 7px
    text-transform uppercase
    line-height 30px
    font-weight bold

.ui-user-button
  font-family 'FuturaPT-Demi'
  font-size 18px
  background #fff
  color #f80000
  border-radius 25px
  padding 16px 38px
  cursor pointer
  font-weight bold

  a
    padding 0 6px

  &__login
    border-right 2px solid #f80000

.ui-footer

  &__menu
    background #2e2e2e
    display flex
    justify-content center

  &__copyright
    display flex
    justify-content center

.ui-footer-menu
  width 980px
  padding 22px 10px
  display flex
  justify-content space-between

.ui-footer-menu-left
  flex-basis 60%

.ui-copyright
  width 980px
  padding 22px 10px

  &__text
    font-family 'FuturaPT-Book'
    font-size 14px
    line-height 18px
    color #2e2e2e
    padding-top 22px
