// Normalize Styles
@import '../../node_modules/normalize.css/normalize.css';

// Import Modules
@import 'modules/fonts';

// Box sizing partial styles
// Apply a natural box layout model to all elements
*,
*:before,
*:after
  box-sizing border-box
  outline 1px dashed green

.ui-header
  background #2a2b32
  display flex
  justify-content center

  &__content
    display flex
    align-items center
    padding-top 10px
    width 980px
    justify-content space-between
    padding 0 10px

.ui-logo
  display flex
  align-items flex-end

.ui-menu
  display flex

  &__link
    font-family 'FuturaPT-Heavy'
    font-size 14px
    color #fff
    text-decoration none
    padding 0 7px

.ui-user-button
  font-family 'FuturaPT-Demi'
  font-size 18px
  background #fff
  color #f80000
  border-radius 25px
  padding 16px 38px
  cursor pointer

  a
    padding 0 6px

  &__login
    border-right 2px solid #f80000
