// Normalize Styles
@import '../../node_modules/normalize.css/normalize.css';

// Import Modules
@import 'modules/fonts';
@import 'modules/heading';
@import 'modules/form';
@import 'modules/steps';
@import 'modules/button';
@import 'modules/film-cart';
@import 'modules/video-cart';
@import 'modules/news-cart';
@import 'modules/blog-cart';
@import 'modules/user-cart';
@import 'modules/comment-cart';

// Box sizing partial styles
// Apply a natural box layout model to all elements
*,
*:before,
*:after
  box-sizing border-box
  outline 1px dashed green

.ui-header
  background #2a2b32
  display flex
  justify-content center

  &__content
    display flex
    align-items center
    padding-top 10px
    width 980px
    justify-content space-between
    padding 0 10px

.ui-logo
  display flex
  align-items flex-end

.ui-menu
  display flex
  justify-content space-between

  &__link
    font-family 'FuturaPT-Heavy'
    font-size 14px
    color #fff
    text-decoration none
    padding 0 7px
    text-transform uppercase
    line-height 30px
    font-weight bold

.ui-user-button
  font-family 'FuturaPT-Demi'
  font-size 18px
  background #fff
  color #f80000
  border-radius 25px
  padding 16px 38px
  cursor pointer
  font-weight bold

  a
    padding 0 6px

  &__login
    border-right 2px solid #f80000

.ui-footer

  &__menu
    background #2e2e2e
    display flex
    justify-content center

  &__copyright
    display flex
    justify-content center

.ui-footer-menu
  width 980px
  padding 22px 10px
  display flex
  justify-content space-between

.ui-footer-menu-left
  flex-basis 60%

.ui-copyright
  width 980px
  padding 22px 10px

  &__text
    font-family 'FuturaPT-Book'
    font-size 14px
    line-height 18px
    color #2e2e2e
    padding-top 22px

.ui-home-page-banner
  background-size cover
  background-repeat no-repeat
  background-position 50% 50%

  &__content
    display flex
    flex-direction column
    align-items center
    height 100%

  &__header
    padding-top 250px

  &__text
    font-family 'FuturaPT-Book'
    font-size 18px
    color #fff
    padding-bottom  85px

  &__search
    position relative
    width 700px
    box-shadow 0px 13px 59px 0px rgba(0, 0, 0, 0.35)

  &__random-search
    padding-top 25px
    font-family 'FuturaPT-Bold'
    font-size 24px
    color #fff

  &__anime-of-the-day
    padding 135px 0 23px 26px
    display flex
    align-self flex-start

.ui-home-page-search
  width 100%
  height 100%
  font-family 'FuturaPT-Book'
  font-size 22px
  padding 22px

.ui-random-search
  background-repeat no-repeat
  background-position 0% 50%
  padding-left 44px
  height 34px
  position relative

  span
    z-index 2
    position relative

  &:before
    content ''
    border 4px solid #f80000
    width 140px
    height 0
    margin-left -39px
    position: absolute
    display block
    bottom 4px
    left 50%
    z-index 1

.ui-anime-of-the-day
  display flex
  align-items center

  &__img
    border 4px solid #e9eadf
    border-radius 50%
    display flex
    width 64px
    height 64px
    justify-content center
    align-items center

  &__info
    padding-left 20px

  &__header
    font-family 'FuturaPT-Bold'
    font-size 24px
    color #fff

  &__name
    font-family 'FuturaPT-Book'
    font-size 18px
    color #fff

  &__link
    font-family 'FuturaPT-Book'
    font-size 18px
    color #f80000
    cursor pointer

  &__watch
    border-right 2px solid #fff
    padding-right 8px

  &__torrent
    padding-left 8px

.ui-home-page-menu
  width 980px
  margin 0 auto
  padding 48px 10px
  display flex
  justify-content space-around

  &__link
    font-family 'FuturaPT-Bold'
    font-size 24px
    color #2e2e2e
    position relative

    span
      z-index 3
      position relative

    &:before
      content ''
      border 4px solid #f80000
      width 85px
      height 0
      margin-left -27px
      position: absolute
      display block
      bottom 3px
      left 50%
      z-index 1

.ui-home-page-top
  padding 56px 0 86px
  background #e9eadf

  &__header
    padding-bottom 24px

  &__content
    width 980px
    padding 0 10px
    margin 0 auto

  &__link
    display flex

  &__film
    padding-top 50px
    display flex
    justify-content space-between

.ui-home-page-popular

  &__content
    width 980px
    padding 70px 10px
    margin 0 auto
    display flex

  &__content-left
    width 614px

  &__content-right
    padding-left 50px

  &__title
    display flex
    align-items center
    padding-bottom 20px

  &__header
    padding-left 8px

  &__link
    padding-left 26px
    font-family 'FuturaPT-Book'
    font-size 18px
    color #f80000
    cursor pointer
    text-decoration none

  &__film
    display flex
    justify-content space-between

  &__list
    padding-top 20px

  &__link-film
    display flex

  &__rating
    font-family 'FuturaPT-Bold'
    font-size 18px
    line-height 30px

  &__name
    font-family 'FuturaPT-Book'
    font-size 18px
    line-height 30px
    padding-left 30px

.ui-home-page-youtube
  background-repeat no-repeat
  background-position 100% 100%
  background-size cover


  &__content
    width 980px
    padding 70px 10px
    margin 0 auto

  &__title
    display flex
    align-items center

  &__link
    padding-left 26px
    font-family 'FuturaPT-Book'
    font-size 18px
    color #fff
    cursor pointer
    text-decoration none

  &__video
    padding-top 45px
    display flex
    justify-content space-between

.ui-home-page-news
  background #e9eadf

  &__content
    width 980px
    padding 70px 10px
    margin 0 auto
    display flex

  &__content-left
    width 614px

  &__content-right
    width 366px
    padding-left 40px

  &__title
    display flex
    align-items center
    padding-bottom 20px

  &__link
    padding-left 26px
    font-family 'FuturaPT-Book'
    font-size 18px
    color #f80000
    cursor pointer
    text-decoration none

.ui-page-search
  padding 30px 0
  background #e9eadf
  display flex

  search
    width 960px
    margin 0 auto

.ui-page
  width 980px
  padding 50px 10px
  margin 0 auto

  &__header
    font-family 'FuturaPT-Book'
    font-size 36px
    color #2e2e2e

.ui-status
  padding 3px 10px
  color #fff

  &--online
    background #89dd8b

  &--ofline
    background #ff0000

.ui-user-settings

  &__header
    display flex
    align-items center
    justify-content space-between

.ui-line
  background #e9eadf
  border none
  height 2px
  width 100%

  &--xs
    width 60%

  &--md
    width 760px

.ui-link
  font-family 'FuturaPT-Book'
  font-size 18px
  line-height 30px
  color #ff0000
  cursor pointer

  span
    color #2e2e2e

.ui-settings

  &__checked
    padding 7px 0

  label
    display flex
    align-items center

    span
      font-family 'FuturaPT-Demi'
      font-size 18px
      line-height 50px
      padding-left 20px

.ui-row
  padding-bottom 20px

  &:last-child
    padding-bottom 0

.ui-catalog
  width 960px
  padding 30px 0
  margin 0 auto
  display flex

  &__sidebar
    width 190px
    padding-right 10px

  &__content
    width 770px

  &__sorting
    display flex
    align-items baseline
    justify-content flex-end
    font-family 'FuturaPT-Demi'
    font-size 18px
    line-height 36px

    span
      padding-right 12px

  &__film
    display flex
    justify-content space-between
    padding-bottom 40px

.ui-sidebar

  &__button
    font-family 'FuturaPT-Demi'
    font-size 21px
    line-height 36px

    span
      padding-left 10px

.ui-film-relations
  background #35363e

  &__content
    width 980px
    padding 70px 10px 60px 10px
    margin 0 auto

  &__button
    text-align center

.ui-video
  width 980px
  padding 70px 10px
  margin 0 auto

  &__link
    padding 20px 0
    display flex
    justify-content space-between

  &__write
    display flex
    align-items center

    span
      padding-left 12px

.ui-comment

  &__button
    text-align center

.ui-recommendations
  background #e9eadf

  &__content
    width 980px
    padding 70px 10px
    margin 0 auto

  &__film
    display flex
    justify-content space-between
    padding-top 40px
